@model IEnumerable<nkhensaniStudyGroup.Models.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>STUDY GROUP MEMBERS</h1>
<table>
    <tr>
        <th>Student Number</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email Address</th>
    </tr>
</table>
